/* styles.css */

.student-form {
    text-align: right;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container img {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
}

.title-container {
    flex: 1;
    text-align: center;
}

.border-box {
    flex: 0.15;
    border: 1px solid black;
    height: 210px;
    margin-top: 20px;
}

.content {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.input-with-border {
    flex: 1;
    text-align: right;
    border-bottom: 1px dotted #000;
}

.doted-under {
    border-bottom: 1px dotted #000;
}

.highlight-text {
    font-weight: bold;
    font-size: 22px;
}

.grades-table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 22px;
}

.footer {
    border-top: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}

.approval-section {
    flex: 1;
    text-align: right;
    margin-right: 60px;
}

.approval-section input {
    text-align: center;
    width: 150px;
    border-bottom: 1px solid black;
}
